<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author Eng.Asma Hawari
  ~  * @package CodaTrip_ShipmentField
  ~  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="reason" xsi:type="string">sales_order.reason</item>
            </argument>
        </arguments>
    </virtualType>
</config>